.cart{

    width: 300px;
    height: 300px;
    text-align: center;
    float: left;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;

    
}
.cart .good_img{
    width: 100px;
}
.cart .add-to-carz:hover{
    background: greenyellow;
}
.cart .add-to-carz:active{
    background: red;
}

.good-out{
    display: flex;
    flex-wrap: wrap;
    
    justify-content:center;
    border: 2px solid black;
    
}
.good-out::after{
	content:"";
	display:block;
    clear: both;
}
.m-carz{
    background: red;
    color: white;
    padding: 5px;
    font-size: 10px;

}
/* Карзина */
.good_img_carz{
    width: 48px;
    height: 48px;
}
.name_carz{
    font-size: 15px;
}